{% extends 'process/base.html' %}
{% load static %}

{% block title %}
  Paso 1
{% endblock %}

{% block progress %}
  15%
{% endblock %}

{% block step %}
  Información General
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <form method="POST">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col">
              <label for="name">Ingresa el nombre(s)</label>
              {{form.first_name}}
            </div>
            <div class="col">
              <label for="last_name_p">Ingresa el apellido paterno</label>
              {{form.last_name_p}}
            </div>
            <div class="col">
              <label for="last_name_m">Ingresa el apellido materno</label>
              {{form.last_name_m}}
            </div>
          </div>
          <hr>
          <div class="row mb-3">
            <div class="col-lg-4">
              <label for="bday">Fecha de nacimiento</label>
              {{form.b_day}}
            </div>
          </div>
          <hr>
          <div class="row mb-3">
            <div class="col-lg-6">
              <label for="rfc">Ingrese RFC</label>
              {{form.rfc}}
            </div>
            <div class="col-lg-6">
              <label for="curp">Ingrese CURP</label>
              {{form.curp}}
            </div>
          </div>
          <hr>
          <div class="row mb-3">
            <div class="col-lg-6">
              <label for="inputState">Estado</label>
              {{form.id_state}}
            </div>
            <div class="col-lg-6">
              <label for="inputState">Municipio</label>
              {{form.id_town}}
            </div>
          </div>
          <hr>
          <div class="row mb-3">
            <div class="col-lg-4">
              <label for="inputState">Estado civil</label>
              {{form.id_marital_status}}
            </div>
          </div>
          <hr>
          <div class="row mb-3">
            <div class="col-lg-4">
              <label for="inputState">Máximo grado de estudios</label>
              {{form.id_education_level}}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-4">
              <label for="inputState">Status</label>
              {{form.id_status}}
            </div>
          </div>
          <button type="submit" class="btn btn-outline-warning btn-lg btn-block mb-3">Siguiente</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}