/*Header*/
#logo-nav{
    height: 40px;
}
#aside{
    float: left;
    background-color: #343a40;
}
#aside h3{
    color: gold;
}
/*Main*/
#main #barraarchivo a{
    color: darkred;
}
#main #barraarchivo a:hover{
    color: gold;
    transition: .3s;
    font-size: 17px;
}